# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js Test Server CI

on:
  push:
    branches: [ "development" ]
    
# defaults:
#   run:
#     working-directory: ./api/ # The working directory path

jobs:
  build:

#     runs-on: ubuntu-latest
    runs-on: test

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './api/package-lock.json'

    - run: npm install
    - run: npm run build --if-present
    - run: pm2 stop api_ts
    - run: pm2 start api_ts
    - run: pm2 save

